//////// HEADER ////////
header {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   :nth-child(1) {
      img {
         height: 40px;
         margin-right: 50px;
      }
   }
   :nth-child(2) {
      background-color: #f5f6f7;
      border-radius: 5px;
      height: 40px;
      width: auto;
      min-width: 350px;
      padding: 0 10px;
      margin-right: auto;
      display: flex;
      align-items: center;
      input {
         background: none;
         border: none;
         width: 100%;
         font-size: 16px;
         color: #999;
         &:focus {
            outline: none;
         }
      }
   }
   :nth-child(3),
   :nth-child(4) {
      height: 35px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid #21adb6;
      color: #21adb6;
      margin: 0 10px;
      &:hover {
         background-color: #21adb6;
         color: #fff;
      }
   }
   :nth-child(5) {
      height: 35px;
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 300;
      border: 1px solid #21adb6;
      color: #fff;
      background-color: #21adb6;
      margin-left: 50px;
      &:hover {
         background: none;
         color: #21adb6;
      }
   }
}

//////// CONTAINERS ////////
.container {
   width: 1280px;
   margin: 0 auto;
   flex: 1 0 auto;
}

//////// HERO BANNER HOMEPAGE ////////
.hero-banner {
   position: relative;
   .main-img {
      height: 500px;
      width: 100%;
      object-fit: cover;
   }
   .tear-img {
      position: absolute;
      bottom: 0;
      right: 0%;
      z-index: 40;
      width: 1000px;
   }
   > div {
      > div {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         background-color: #fff;
         height: 220px;
         width: 360px;
         padding: 25px;
         border-radius: 3px;
         box-shadow: 0 0 2px rgba(17, 17, 17, 0.2);
         position: absolute;
         z-index: 50;
         top: calc((500px - 220px) / 2 - 30px);

         h1 {
            font-size: 34px;
            font-weight: 500;
         }
         div {
            width: 180px;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            padding: 10px;
            background-color: #21adb6;
            border-radius: 5px;
            border: 1px solid #21adb6;
            cursor: pointer;
            &:hover {
               color: #21adb6;
               border: 1px solid #21adb6;
               background-color: #fff;
            }
         }
      }
   }
}

//////// LIST OF OFFERS ////////
.offer-list {
   display: flex;
   flex-wrap: wrap;
   margin-top: 30px;
}
.offer-card {
   display: flex;
   flex-direction: column;
   width: 235px;
   padding: 7px;
   margin-bottom: 25px;
   > :nth-child(1) {
      display: flex;
      align-items: center;
      padding: 10px;
      img {
         height: 25px;
         width: 25px;
         border-radius: 50%;
         object-fit: cover;
         margin-right: 10px;
      }
      div {
         font-size: 12px;
         color: #999;
      }
   }
   > :nth-child(2) {
      height: 360px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
   }
   > :nth-child(3) {
      display: flex;
      justify-content: space-between;
      :first-child {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         > :nth-child(1) {
            font-size: 14px;
            margin-bottom: 3px;
         }
         > :nth-child(2) {
            font-size: 12px;
            color: #999;
            margin-bottom: 3px;
         }
         > :nth-child(3) {
            font-size: 12px;
            color: #999;
         }
      }
      :last-child {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
   }
}

//////// OFFER PAGE ////////
.offer-body {
   background-color: #ebedee;
   height: calc(100vh - 60px);
}
.offer-details {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 30px;
   > :first-child {
      img {
         max-height: 600px;
         max-width: 450px;
      }
   }
   > :last-child {
      box-sizing: border-box;
      max-width: 400px;
      background-color: #fff;
      padding: 40px;
      display: flex;
      flex-direction: column;
      > :nth-child(1) {
         font-size: 24px;
         margin-bottom: 20px;
         font-weight: 500;
      }
      > :nth-child(2) {
         font-size: 14px;
         text-transform: uppercase;
         padding: 0 0 40px 0;
         border-bottom: 1px solid #eee;
         margin-bottom: 40px;
         > li {
            display: flex;
            padding-top: 3px;
            > span:first-child {
               flex: 1;
               color: #999;
               font-weight: 300;
            }
            > span:last-child {
               flex: 1;
               color: #666;
               font-weight: 500;
            }
         }
      }
      > :nth-child(3) {
         font-size: 16px;
         font-weight: 500;
         margin-bottom: 15px;
      }
      > :nth-child(4) {
         font-size: 16px;
         font-weight: 300;
         color: #666;
         margin-bottom: 20px;
      }
      > :nth-child(5) {
         display: flex;
         align-items: center;
         font-size: 16px;
         font-weight: 400;
         margin-bottom: 40px;
         img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
         }
      }
      > button {
         font-size: 16px;
         font-weight: 300;
         color: #fff;
         padding: 10px;
         background-color: #21adb6;
         border: none;
         border-radius: 5px;
      }
   }
}

//////// LOGIN PAGE ////////
.login-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   width: 300px;
   margin: 50px auto;
   * {
      margin-bottom: 15px;
   }
   h1 {
      font-weight: 500;
      font-size: 30px;
   }
   form {
      display: flex;
      flex-direction: column;
      // align-items: center;
      > input {
         border-bottom: 1px solid #eee;
         width: 100%;
         padding: 10px;
      }
      > div {
         padding: 0 20px;
         > input {
            margin-right: 15px;
            transform: scale(1.5);
         }
         > label {
            font-weight: 300;
            font-size: 18px;
         }
         > p {
            font-size: 14px;
            color: #999;
            font-weight: 300;
         }
      }
      > button {
         font-size: 16px;
         font-weight: 300;
         color: #fff;
         padding: 10px;
         background-color: #21adb6;
         border: none;
         border-radius: 5px;
      }
   }
   a {
      font-size: 14px;
      color: #21adb6;
   }
}

//////// FOOTER ////////
footer {
   padding: 50px 0;
   font-size: 12px;
   font-weight: 300;
   color: #999;
   text-align: center;
   strong,
   a {
      font-weight: 500;
      color: #999;
   }
   a:hover {
      text-decoration: underline;
   }
}
